{% extends "base/base.html" %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block content %}
<section>
    <div id="portfolio">
        <div class="container clw-full-screen clw-portfolio-bg clw-width-fix">
            <!-- Portfolio section -->
            <div class="row m-0 p-0 align-items-center" style="height: 10vh">
                <div class="col">
                    <nav class="navbar navbar-expand-lg text-right">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-color clw-text-style pb-1 fs-3" href="#header"><i
                                            class="bi bi-camera"></i>Портфолио</a>
                                    <div class="always-hover-style"></div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row align-items-center m-0 pb-5" style="height: 80vh">
                <div class="col">
                    <img src="{{url_for('static', filename='img/18.jpg')}}" alt="" class="clw-portfolio-img"
                        style="width: 100%">
                </div>
                <div class="col">
                    <img src="{{url_for('static', filename='img/20.jpg')}}" alt="" class="clw-portfolio-img"
                        style="width: 100%">
                </div>
                <div class="col-md-12 col-lg-6 text-center align-items-center justify-content-center"
                    style="max-width: 100%">
                    <div class="wrapper m-3 p-3">
                        <div class="clw-portfolio-header text-nowrap d-none d-md-block">
                            Наше портфолио!
                        </div>
                        <p class="clw-portfolio-text d-none d-md-block">
                            Наши фотографы стараются всегда быть выше всех других аж на 2 головы!
                            Именно поэтому они постоянно улучшают свои навыки, работая с вами.
                            Им точно можно довериться. Примеры их работ вы можете посмотреть в этом разделе.
                        </p>
                        <div class="clw-portfolio-header text-nowrap d-block d-md-none"
                            style="font-size: 30px; font-weight: 400">
                            Наше портфолио!
                        </div>
                        <p class="clw-portfolio-text d-block d-md-none" style="font-size: 17px; font-weight: 400">
                            Наши фотографы стараются всегда быть выше всех других аж на 2 головы!
                            Именно поэтому они постоянно улучшают свои навыки, работая с вами.
                            Им точно можно довериться. Примеры их работ вы можете посмотреть в этом разделе.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row m-0 p-0 text-end" style="height: 10vh; width: 100%">
                <div class="col">
                    <div class="link-wrapper">
                        <a class="clw-portfolio-link hover-style" href="{{url_for('portfolio')}}"> Портфолио<i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="price" class="clw-price-bg">
        <div class="row m-0 p-0 align-items-center" style="height: 10vh">
            <div class="col">
                <nav class="navbar navbar-expand-lg text-right">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-color clw-text-style pb-1 fs-3" href="#header"><i
                                        class="bi bi-card-checklist"></i>Услуги</a>
                                <div class="always-hover-style"></div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide clw-price-carousel" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center" style="height: 80vh;">
                            <div class="col">
                                <!-- Picture -->
                                <div class="align-self-center text-center justify-content-center d-none d-lg-block">
                                    <img class="clw-price-img" src="{{url_for('static', filename='img/25.jpg')}}">
                                </div>
                                <div class="align-self-center text-center justify-content-center d-block d-lg-none">
                                    <img class="img-fluid clw-price-img"
                                        src="{{url_for('static', filename='img/25.jpg')}}" style="max-width: 58%">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <!-- description Услуги фотографа в студии - 6000р-->
                                <div class="wrapper">
                                    <p class="clw-price-header d-none d-md-block">&nbsp;Услуги фотографа в студии -
                                        <span class="clw-price-money">6000р</span>
                                    </p>
                                    <p class="clw-price-subheader d-none d-md-block">Наш профессиональный фотограф
                                        поможет вам в фотостудии подобрать нужный ракурс и правильно настроить свет.</p>

                                    <p class="clw-price-header d-block d-md-none"
                                        style="font-size: 30px; font-weight: 400">&nbsp;Услуги фотографа в студии <br>-
                                        <span class="clw-price-money">6000р</span>
                                    </p>
                                    <p class="clw-price-subheader d-block d-md-none"
                                        style="font-size: 17px; font-weight: 400">Наш профессиональный фотограф поможет
                                        вам в фотостудии подобрать нужный ракурс и правильно настроить свет.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center" style="height: 80vh;">
                            <div class="col">
                                <!-- Picture -->
                                <div class="align-self-center text-center justify-content-center d-none d-lg-block">
                                    <img class="clw-price-img" src="{{url_for('static', filename='img/14.jpg')}}">
                                </div>
                                <div class="align-self-center text-center justify-content-center d-block d-lg-none">
                                    <img class="img-fluid clw-price-img"
                                        src="{{url_for('static', filename='img/14.jpg')}}" style="max-width: 58%">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <!-- description: Аренда студии(1час) - 2500р -->
                                <div class="wrapper">
                                    <p class="clw-price-header d-none d-md-block">&nbsp;Аренда фотопространства -
                                        <span class="clw-price-money">2500р/час</span>
                                    </p>
                                    <p class="clw-price-subheader d-none d-md-block">Арендуя наше фотопространство, вы
                                        будете предоставлены только сами себе и вашему воображению. Творите не зная
                                        границ!</p>

                                    <p class="clw-price-header d-block d-md-none"
                                        style="font-size: 30px; font-weight: 400">&nbsp;Аренда фотопространства<br> -
                                        <span class="clw-price-money">2500р/час</span>
                                    </p>
                                    <p class="clw-price-subheader d-block d-md-none"
                                        style="font-size: 17px; font-weight: 400">Арендуя наше фотопространство, вы
                                        будете предоставлены только сами себе и вашему воображению. Творите не зная
                                        границ!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center" style="height: 80vh;">
                            <div class="col">
                                <!-- Picture -->
                                <div class="align-self-center text-center justify-content-center d-none d-lg-block">
                                    <img class="clw-price-img" src="{{url_for('static', filename='img/19.jpg')}}">
                                </div>
                                <div class="align-self-center text-center justify-content-center d-block d-lg-none">
                                    <img class="img-fluid clw-price-img"
                                        src="{{url_for('static', filename='img/19.jpg')}}" style="max-width: 58%">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <!-- description Пакет "все включено": услуги фотографа, визажиста, стилиста, аренда студии - 10.000р-->
                                <div class="wrapper">
                                    <p class="clw-price-header d-none d-md-block">&nbsp;Пакет "все включено" -
                                        <span class="clw-price-money">10.000р!</span>
                                    </p>
                                    <p class="clw-price-subheader d-none d-md-block">В данный пакет включены: услуги
                                        фотографа, визажиста, стилиста, аренда студии. Набор для настоящего творителя!
                                    </p>

                                    <p class="clw-price-header d-block d-md-none"
                                        style="font-size: 30px; font-weight: 400">&nbsp;Пакет "все включено" <br> -
                                        <span class="clw-price-money">10.000р!</span>
                                    </p>
                                    <p class="clw-price-subheader d-block d-md-none"
                                        style="font-size: 17px; font-weight: 400">В данный пакет включены: услуги
                                        фотографа, визажиста, стилиста, аренда студии. Набор для настоящего творителя!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row m-0 p-0 text-end" style="height: 10vh; width: 100%">
            <div class="col">
                <div class="link-wrapper">
                    <!--  -->
                    <a class="clw-portfolio-link hover-style" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        href="#price">Оформить<i class="bi bi-arrow-right"></i></a>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
    <div id="faq">
        <div class="container clw-full-screen clw-faq-bg clw-width-fix">
            <!-- FAQ section -->
            <div class="row m-0 p-0 align-items-center" style="height: 10vh">
                <div class="col">
                    <nav class="navbar navbar-expand-lg text-right">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-color clw-text-style pb-1 fs-3" href="#header"><i
                                            class="bi bi-question-circle"></i>FAQ</a>
                                    <div class="always-hover-style"></div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row p-0 m-0 align-items-center" style="height: 90vh; overflow-y: auto">
                <div class="colmd-12 col-lg-7 p-0">
                    <div class="text-center pb-4">
                        <div class="wrapper">
                            <p class="clw-faq-header d-none d-md-block">Часто задаваемые вопросы!</p>
                            <p class="clw-faq-subheader d-none d-md-block">В этом разделе вы сможете найти ответы на
                                самые часто
                                задаваемые
                                вопросы!</p>

                            <p class="clw-faq-header d-block d-md-none" style="font-size: 30px; font-weight: 400">Часто
                                задаваемые <br>
                                вопросы!</p>
                            <p class="clw-faq-subheader d-block d-md-none" style="font-size: 17px; font-weight: 400">В
                                этом разделе вы сможете найти ответы на самые часто
                                задаваемые
                                вопросы!</p>
                        </div>
                    </div>
                    <div class="accordion clw-faq-accordion align-self-center mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button clw-accorfion-header" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <i class="bi bi-calendar-day"></i>&nbsp;Как забронировать время на фотосессию и что
                                    для этого нужно?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body clw-accordion-body">
                                    <hr class="clw-faq-hr">
                                    Чтобы забронировать время на фотосессию, нужно&nbsp;<strong>выбрать зал и
                                        определиться с датой и
                                        временем проведения съемки</strong>.
                                    Затем либо <strong>самостоятельно уточнить</strong>, свободно ли данное время в
                                    данном зале в
                                    расписании на сайте и забронировать его самостоятельно в форме бронирования,
                                    <strong>либо позвонить на наш контактный номер.</strong>
                                    <hr class="clw-faq-hr">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed clw-accorfion-header" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <i class="bi bi-cash-coin"></i>&nbsp;Работаете ли вы по предоплате?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body clw-accordion-body">
                                    <hr class="clw-faq-hr">
                                    <strong>Да</strong>, для брони фотопространства на определенную дату или
                                    оборудования нужно будет произвести предоплату равную <strong>50% от цены
                                        услуги.</strong>
                                    <hr class="clw-faq-hr">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed clw-accorfion-header" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <i class="bi bi-hourglass-split"></i>&nbsp;Какое минимальное время аренды студии?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body clw-accordion-body">
                                    <hr class="clw-faq-hr">
                                    <strong>Минимальное</strong> время аренды фотопространства составляет
                                    <strong>полчаса.</strong>
                                    <hr class="clw-faq-hr">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed clw-accorfion-header" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    <i class="bi bi-emoji-dizzy"></i>&nbsp;Что будет, если я опоздаю на фотосессию?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body clw-accordion-body">
                                    <hr class="clw-faq-hr">
                                    Забронированное вами время в зале <strong>никто не займет</strong>, однако
                                    останавливать его тоже <strong>никто не будет.</strong>
                                    Опоздание <strong>не продлевает</strong> забронированное вами время. Также,
                                    покидание фотопространства <strong>раньше</strong>
                                    окончания забронированного времени <strong>не повлияет</strong> на конечную сумму
                                    оплаты.
                                    <hr class="clw-faq-hr">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed clw-accorfion-header" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    <i class="bi bi-credit-card-2-back"></i>&nbsp;Как происходит возврат денежных
                                    средств при отмене бронирования?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body clw-accordion-body">
                                    <hr class="clw-faq-hr">
                                    Возврат денежных средств осуществляется <strong>по предварительной
                                        договоренности</strong> наличными
                                    непосредственно в нашей студии, <strong>на карту Сбербанка клиента</strong> или на
                                    карту, с которой
                                    была проведена оплата через <strong>систему онлайн-бронирования, при наличии
                                        электронных
                                        чеков</strong>, подтверждающих факт оплаты услуги.
                                    <hr class="clw-faq-hr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="align-self-center text-center justify-content-center d-none d-lg-block">
                        <img class="img-fluid clw-faq-img" src="{{url_for('static', filename='img/9.jpg')}}"
                            style="width: 70%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="color: black">
            <div class="modal-content">
                <form accept-charset="UTF-8" action="{{url_for('sendRequest')}}" method='post' class="needs-validation" novalidate>
                    <div class="modal-header">
                        <div class="modal-wrapper">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Оформление заявки!
                            </h1>
                            <h6 class="card-subtitle mb-2 text-muted">Эта заявка будет отправлена
                                прямиком к нам!</h6>
                        </div>
                        <button style="margin-left: 5px; padding-right: 35px" type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Выберите понравившуюся вам услугу, заполните некоторые данные, чтобы мы могли с вами
                            связаться и отправьте свою заявку!</p>

                        <p class=fst-italic>Как нам следует к вам обращаться?</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Имя</span>
                            <input name="username" type="text" class="form-control" placeholder="Nikita... (На латиннице)" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                            <div class="invalid-feedback">
                                Пожалуйста, введите своё имя.
                            </div>
                        </div>


                        <p class=fst-italic>На какой номер телефона вам можно позвонить для уточнения деталей?</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Телефон</span>
                            <input name="phone" type="text" class="form-control" placeholder="+79999999999" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                            <div class="invalid-feedback">
                                Пожалуйста, введите свой номер телефона.
                            </div>
                        </div>


                        <p class=fst-italic>Укажите свою почту для дальнейшего контакта</p>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input name="email" type="text" class="form-control" placeholder="my_email@email.my"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                            <div class="invalid-feedback">
                                Пожалуйста, введите свой email.
                            </div>
                        </div>


                        <p class=fst-italic>Выберите понравившуюся вам услугу из списка</p>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Услуга</label>
                            <select name=userRequest class="form-select" id="inputGroupSelect01" required>
                                <option selected disabled value="">Я хочу...</option>
                                <option value="requests-photographer">~ Услуги фотографа ~</option>
                                <option value="requests-studio-rent">~ Аренда фотопространства ~</option>
                                <option value="requests-all-inclusive">~ "Всё включено!" ~</option>
                            </select>
                            <div class="invalid-feedback">
                                Пожалуйста, выберите одну опцию.
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Подумать</button>
                        <button type="submit" class="btn btn-outline-success">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}