<header class="header m-0 p-0">
    <div class="container-fluid m-0 p-0 text-center clw-fix-size">
        <div class="clw-fix-size clw-header-bg">
            <div class="row m-0 p-0">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg text-right">
                        <div class="container-fluid">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link text-color" href="{{url_for('index')}}">Портфолио</a>
                                    </li>
                                    <span class="nav-link text-color"> ~ </span>
                                    <li class="nav-item">
                                        <a class="nav-link text-color" href="{{url_for('index')}}">Расценки</a>
                                    </li>
                                    <span class="nav-link text-color"> ~ </span>
                                    <li class="nav-item">
                                        <a class="nav-link text-color" href="{{url_for('index')}}">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row text-center justify-content-center align-items-center clw-fix-size">
                <div class="col-sm-4">
                    <div class="clw-name">
                        Н е Ф о т о Б у д к а
                    </div>
                    <div class="clw-lowername">
                        Фотография - это исскусство 
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>