/* ** COMMON STYLES */
.circled {
    margin-left: 5px;
    border-radius: 50%;
}

.calm-color {
    color: #ffdd8e;
    background-color: #ffffff;
}

.clw-full-screen {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.clw-width-fix {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* ** HEADER */
.clw-name {
    font-weight: lighter;
    font-size: 45px;
    color: white;
}

.clw-lowername {
    font-weight: lighter;
    font-size: 25px;
    color: white;
    margin-bottom: 225px;
}

.clw-header-bg {
    background-image: url(../img/header_1bg.jpg);
    background-size: cover;
    background-position: center;
}

.text-color {
    font-weight: lighter;
    font-size: 25px;
    color: rgb(255, 245, 224);
}

.clw-text-style {
    color: #fff;
    letter-spacing: .20em;
    display: inline-block;
    position: relative;
}

/* ? SECTION STYLES */
.wrapper {
    width: 90%;
    height: 90%;
    padding-left: 27.5%;
    margin-bottom: 15px;
}

.clw-portfolio-bg {
    background-image: url(../img/3darken.jpg);
    background-size: cover;
    background-position: center;
}

.clw-portfolio-img {
    width: auto;
    height: auto;
    border-color: #ffdd8e;
    border-radius: 2%;
    border-width: 3px;
    border-style: solid;
}

.clw-portfolio-header {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 35px;
    letter-spacing: .20em;
}

.clw-portfolio-text {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: .10em;
}

a.clw-portfolio-link:active,
a.clw-portfolio-link {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: .20em;
}

/* ! HOVER ANMIMATION */

.always-hover-style {
    color: #fff;
    letter-spacing: .20em;
    display: inline-block;
    position: relative;
    display: block;
    height: 4px;
    background: linear-gradient(to right, #f8f8f8, #ffdd8e 100%);
}

li {
    position: relative;
}
.hover-style {
    color: #fff;
    letter-spacing: .20em;
    display: inline-block;
    position: relative;
}
.hover-style:hover::after {
    width: 100%;
    right: 0;
}
.hover-style::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, #f8f8f8, #ffdd8e 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

/* ** FOOTER */

.clw-footer-width {
    width: 100%;
}

.paragraph-fix {
    text-align: center;
    max-width: 100%;
}

.clw-footer-bg {
    background-color: rgb(250, 233, 212);
}

.footer {
    padding: 50px;
}

.copy {
    padding: 20px 0 20px 0;
    margin: 0;
}